<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Icon-72.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 72}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 150}, {72, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Icon-Small-50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 150}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Icon-Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 29}</string>
			<key>spriteSourceSize</key>
			<string>{29, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 34}, {29, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Icon-Small@2x.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{58, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 224}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 57}</string>
			<key>spriteSourceSize</key>
			<string>{57, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 284}, {57, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Icon@2x.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 114}</string>
			<key>spriteSourceSize</key>
			<string>{114, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 34}, {114, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fps_images-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 32}, {282, 32}}</string>
			<key>spriteOffset</key>
			<string>{-108, -16}</string>
			<key>spriteSize</key>
			<string>{282, 32}</string>
			<key>spriteSourceSize</key>
			<string>{512, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {282, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fps_images-ipadhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 32}, {282, 32}}</string>
			<key>spriteOffset</key>
			<string>{-108, -16}</string>
			<key>spriteSize</key>
			<string>{282, 32}</string>
			<key>spriteSourceSize</key>
			<string>{512, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 0}, {32, 282}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>fps_images.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 16}, {140, 16}}</string>
			<key>spriteOffset</key>
			<string>{-54, -8}</string>
			<key>spriteSize</key>
			<string>{140, 16}</string>
			<key>spriteSourceSize</key>
			<string>{256, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 150}, {16, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Test.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>